<!DOCTYPE html>
<html>
<head>
  <title>UserOnboarding</title>
  <%= stylesheet_link_tag    "user-onboarding/application", :media => "all" %>
  <%= javascript_include_tag "user-onboarding/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
